.posts{
    width: 100vw;
    height: fit-content;

    .top__bar{
        margin: 20px;
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;
        justify-content: left;
        border-bottom: 1px solid lightgrey;
        padding-bottom: 20px;
        .drop__down{
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: 600;
            border: solid 1px rgba(211, 211, 211, 0.634);
            border-radius: 4px;
            .option{
                
            }
            &:focus{
                outline: none;
            }
        }
    }

    .posts__container{
        margin: 20px;
        display: flex;
        flex-direction: row;
        gap: 22px;
        flex-wrap: wrap;
        //justify-content: center;
    }
}