.post{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 10px;
    .post__image{
        width: 352px;
        height: 227px;
        border-radius: 3px;
        object-fit: cover;
        cursor: pointer;
        &:hover{
            filter: brightness(60%);
            transition: 0.4s;
        }
        &:not(&:hover){
            transition: 0.4s;
        }
    }

    .detail__container{
        width: 352px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        .left__container{
            display: flex;
            flex-direction: column;
            gap: 4px;
            .top__text{
                font-size: 16px;
                font-weight: 600;
            }
            .bottom__text{
                font-size: 13px;
                font-weight: 400;
                cursor: pointer;
            }
        }
        .right__container{
            display: flex;
            flex-direction: row;
            gap: 20px;
            .button__container{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 5px;
                .icon{
                    font-size: 15px;
                    color: rgb(143, 143, 143);
                }
                .count{
                    font-size: 13px;
                    font-weight: 600;
                }
                .like__icon{
                    cursor: pointer;
                    &:hover{
                        transition: 0.3s;
                        color: rgb(219, 72, 96);
                    }   
                    &:not(&:hover){
                        transition: 0.3s;
                    }
                }
                .view__icon{
                    &:hover{
                        transition: 0.3s;
                        color: rgb(26, 124, 221);
                    }   
                    &:not(&:hover){
                        transition: 0.3s;
                    }
                }
                .like__active{
                    color: rgb(219, 72, 96);
                }
                .view__active{
                    color: rgb(26, 124, 221);
                }
            }
        }
    }
}