.errorBoxSmall{
    background-color: red;
    padding: 10px 25px;
    border-radius: 6px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    .error__container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 15px;
        .error__icon{
            font-size: 30px;
        }
    }
}