.navbar{
    
    color: white;
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .left__container{
        padding: 0 25px;
        display: flex;
        flex-direction: row;
        gap: 30px;
        align-items: center;
        justify-content: left;
        .logo__img{
            height: 25px;
            margin-right: 20px;
        }
        .nav__item{
            color: rgb(108, 108, 108);
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            &:hover{
                color: black;
                transition: 0.3s;
            }
            &:not(:hover){
                transition: 0.3s;
            }
        }
    }
    .right__container{
        padding: 0 40px;
        display: flex;
        flex-direction: row;
        gap: 25px;
        align-items: center;
        justify-content: left;
        .profile__image{
            height: 40px;
            width: 40px;
            border-radius: 100%;
            object-fit: cover;
            cursor: pointer;
        }
        .share__button{
            padding: 12px 20px;
            cursor: pointer;
            background-color: rgb(58, 206, 255);
            border: none;
            border-radius: 10px;
            color: white;
            font-size: 17px;
            font-weight: 500;
            &:hover{
                background-color:rgb(126, 214, 244) ;
                transition: 0.3s;
            }
            &:not(:hover){
                transition: 0.3s;
            }
        }
        .nav__item{
            color: rgb(156, 156, 156);
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            &:hover{
                color: black;
                transition: 0.3s;
            }
            &:not(:hover){
                transition: 0.3s;
            }
        }
    }
}